InventoryService/obj/InventoryService.csproj.nuget.dgspec.json
InventoryService/obj/InventoryService.csproj.nuget.g.targets
InventoryService/obj/InventoryService.csproj.nuget.g.props
InventoryService/obj/project.assets.json
InventoryService/obj/project.nuget.cache
InventoryService/Properties/launchSettings.json
OrderService/obj/OrderService.csproj.nuget.dgspec.json
OrderService/obj/OrderService.csproj.nuget.g.props
OrderService/obj/OrderService.csproj.nuget.g.targets
PaymentService/obj/PaymentService.csproj.nuget.dgspec.json
OrderService/obj/project.assets.json
OrderService/obj/project.nuget.cache
PaymentService/obj/PaymentService.csproj.nuget.g.props
PaymentService/obj/PaymentService.csproj.nuget.g.targets
PaymentService/obj/project.assets.json
PaymentService/obj/project.nuget.cache
PaymentService/Properties/launchSettings.json
SagaOrchestrator/obj/project.assets.json
SagaOrchestrator/obj/project.nuget.cache
SagaOrchestrator/obj/SagaOrchestrator.csproj.nuget.g.props
SagaOrchestrator/obj/SagaOrchestrator.csproj.nuget.g.targets
SagaOrchestrator/obj/SagaOrchestrator.csproj.nuget.dgspec.json
SagaOrchestrator/Properties/launchSettings.json
/InventoryService/obj/Debug/net8.0
/OrderService/obj/Debug/net8.0
/PaymentService/obj/Debug/net8.0
/SagaOrchestrator/obj/Debug/net8.0
/SagaPattern/.vs/SagaPattern
/SagaPattern/bin/Debug/net8.0
/SagaPattern/obj
/InventoryService/bin/Debug/net8.0
/OrderService/bin/Debug/net8.0
/PaymentService/bin/Debug/net8.0
/SagaOrchestrator/bin/Debug/net8.0
